.navbar-brand {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    flex-flow: column;
    font-size: 1rem !important;
    margin: 2px 5px;
}

.brand-name {
    padding: 0px;
    margin-left: -6px;
    margin-right: 40px;
}

.brand-name div {
    font-size: 10px !important;
    margin-top: -10px !important;
    margin-left: 5px;
}