<!-- checkout.component.html -->
<div class="container py-3" style="max-width: 460px">
  <div class="d-flex justify-content-between border-bottom pb-2 mb-2">
    <span class="me-2" style="cursor: pointer;" (click)="goBack()">&#8592;</span>
    <h6 class="mb-0 fw-semibold mx-auto">Checkout Your Items</h6>
  </div>

  <!-- Shipping -->
  <div class="d-flex justify-content-between p-2 border" *ngIf="cartItems && cartItems.length > 0">
    <small class="my-2">SHIPPING</small>
    <span class="text-muted my-2" *ngIf="!defaultAddress">
      <small>Finding Address</small>
      <img src="https://cdn.pixabay.com/animation/2024/04/02/07/57/07-57-40-974_512.gif" height="20px" width="40px" style="image-rendering: optimizeSpeed;" alt="loading...">
    </span>
    <div class="text-muted my-2 address" *ngIf="defaultAddress" style="height: 2em; overflow: hidden; text-overflow: ellipsis;">
        <span>{{ defaultAddress.houseInfo }}, {{ defaultAddress.flatInfo }}</span><br />
        {{ defaultAddress.addressLine1 }},
        <span *ngIf="defaultAddress.addressLine2">{{ defaultAddress.addressLine2 }}, <br /></span>
        {{ defaultAddress.cityOrTown }}, {{ defaultAddress.pincode }},<br />
        {{ defaultAddress.state }}, {{ defaultAddress.country }}
    </div>
    <div class="col-auto my-2">
      <button class="btn btn-sm btn-warning" routerLink="/address-list">
        <i class="bi bi-pencil-square"></i>
      </button>
    </div>
  </div>

  <!-- Delivery -->
  <div class="d-flex justify-content-between p-2 border" *ngIf="cartItems && cartItems.length > 0">
    <small>DELIVERY</small>
    <span class="text-muted"><small>Standard | 4-5 days</small></span>
  </div>

  <!-- Payment -->
  <div class="d-flex justify-content-between p-2 border" *ngIf="cartItems && cartItems.length > 0">
    <small>PAYMENT</small>
    <div class="col-auto" (change)="changePaymentMethod()">
      <input type="radio" id="paymentMethod" name="paymentMethod" value="COD" [(ngModel)]="paymentMethod" class="form-check-input" />
      <label class="form-check-label text-muted" for="paymentMethodCOD">&nbsp;COD</label>
    </div>
    <div class="col-auto" (change)="changePaymentMethod()">
      <input type="radio" id="paymentMethod" name="paymentMethod" value="Online" [(ngModel)]="paymentMethod" class="form-check-input ms-3" />
      <label class="form-check-label text-muted" for="paymentMethodOnline">&nbsp;UPI/CARD</label>
    </div>
  </div>

  <!-- Promo -->
  <div class="d-flex justify-content-between p-2 border" *ngIf="cartItems && cartItems.length > 0">
    <small class="my-2">PROMO</small>
    <div class="input-group input-group-sm ms-2">
      <input class="form-control" type="text" placeholder="Enter promo code" [(ngModel)]="promoCode" [disabled]="isDisabled" />
      <button class="btn-sm btn-success" *ngIf="!isDisabled"><i class="bi bi-arrow-right-circle" (click)="applyPromoCode()"></i></button>
      <button class="btn-sm btn-danger" *ngIf="isDisabled"><i class="bi bi-trash3" (click)="removePromoCode()"></i></button>
    </div>
  </div>

  <!-- Items -->
  <div class="mt-3 border p-2" *ngIf="cartItems && cartItems.length > 0">
    <div class="d-flex justify-content-between">
      <strong>ITEMS ({{ totalItem }})</strong>
      <strong>UNIT PRICE</strong>
    </div>

    <!-- Product List -->
    <div *ngFor="let item of cartItems" class="d-flex align-items-start justify-content-between my-2">
      <img [src]="item.imgUrl" [routerLink]="['/product', item?.id]" class="rounded"
        style="width: 40px; height: 40px; object-fit: cover;" />
      <div class="flex-fill mx-2">
        <div [routerLink]="['/product', item?.id]">{{ item.productName }}</div>
        <div class="d-flex align-items-center gap-2">
          <button class="btn btn-sm btn-outline-secondary px-2 py-0" (click)="decreaseQty(item)">−</button>
          <span class="fw-semibold">{{ item.qty }}</span>
          <button class="btn btn-sm btn-outline-secondary px-2 py-0" (click)="increaseQty(item)">+</button>
        </div>
      </div>
      <div class="text-end">
        {{ item.unitPrice | currency: 'INR'}}
        <button class="btn btn-sm text-danger" (click)="removeItem(item.id)">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Summary -->
  <div class="border p-2 mt-3" *ngIf="cartItems && cartItems.length > 0">
    <div class="d-flex justify-content-between">
      <span>Subtotal</span>
      <span>{{ totalAmount | currency: 'INR'}}</span>
    </div>
    <div class="d-flex justify-content-between" *ngIf="isDisabled">
      <span>Coupon Discount</span>
      <span class="text-success">- {{ discount | currency: 'INR'}}</span>
    </div>
    <div class="d-flex justify-content-between">
      <span>Shipping Charges</span>
      <span *ngIf="shippingCharges !== 0">{{ shippingCharges | currency: 'INR' }}</span>
      <span *ngIf="shippingCharges === 0" class="text-bold">
        <s class="text-muted">{{ 30 | currency: 'INR'}}</s>&nbsp;
        <span class="text-success">Free</span>
      </span>
    </div>
    <div class="d-flex justify-content-between">
      <span>Platform Charges</span>
      <span>{{ tax }}%</span>
    </div>
    <hr />
    <div class="d-flex justify-content-between fw-bold">
      <span>Total</span>
      <span>{{ totalPrice | currency: 'INR' }}</span>
    </div>
  </div>

  <!-- Place Order -->
  <div class="mt-3 text-center" *ngIf="cartItems && cartItems.length > 0">
    <button class="btn btn-warning w-100 rounded-pill py-2 fw-bold">
      Place order
    </button>
  </div>

  <!-- No Cart Items -->
  <div class="d-flex flex-column align-items-center justify-content-center text-center border p-4"
    *ngIf="cartItems && cartItems.length < 1">
    <img src="https://cdn-icons-png.flaticon.com/512/11329/11329060.png" alt="Empty Cart" width="140" class="mb-4">

    <h4 class="mb-2 text-secondary">Your cart is empty!</h4>
    <p class="mb-4 text-muted">Looks like you haven’t added anything yet.</p>

    <button class="btn btn-warning px-4" routerLink="/product-list/All">
      <i class="bi bi-arrow-left me-2"></i>Start Shopping
    </button>
  </div>

  <br />
  <br />
</div>

