input.form-control::placeholder {
  color: #aaa;
  font-size: 14px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.product-card img {
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.product-name {
  font-size: 14px;
  font-weight: 600;
}

.price {
  font-size: 13px;
  margin-bottom: 4px;
}

.quantity {
  font-size: 12px;
}

.icon-box {
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.icon-box .small-icon {
  position: absolute;
  bottom: -6px;
  right: -8px;
  font-size: 10px;
}
.product-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product-card:hover img {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}
.product-card:hover .product-name {
  color: #ffa600;
}


@media (max-width: 576px) {
  .product-card img {
    height: 120px;
  }
}