<div class="container-fluid my-2" style="max-width: 450px;">
  <!-- Header -->
  <div class="d-flex border-bottom justify-content-between pb-2 mb-3">
    <span class="me-2" style="cursor: pointer;" (click)="goBack()">&#8592;</span>
    <h6 class="mb-0 fw-semibold mx-auto">Address List <span *ngIf="isAddressData">({{addressList.length}})</span></h6>
  </div>

  <div class="row col-12" *ngIf="isAddressData">
    <!-- Address Card -->
    <div class="col-sm-12 m-2" *ngFor="let address of addressList">
      <div class="card p-2">
        <small class="d-block mb-2 fw-semibold text-muted" *ngIf="address.isDefault">Default Address</small>
        <div class="card-body">
          <span>{{address.houseInfo}}
            <b *ngIf="address.flatInfo && address.flatInfo">&nbsp; - &nbsp;</b>
                {{address.flatInfo}},
          </span>
          {{address.addressLine1}}
          <span *ngIf="address.addressLine1 && address.addressLine2">, {{address.addressLine2}}, </span>
          {{address.cityOrTown}}, {{address.pincode}}, {{address.state}}, {{address.country}}
        </div>
        <div class="d-flex pt-3 border-top mt-3" [ngClass]="{'justify-content-between': !address.isDefault, 'justify-content-around': address.isDefault}">
          <button class="btn btn-sm btn-outline-dark" [routerLink]="['']" routerLinkActive="router-link-active" >Edit</button>
          <button class="btn btn-sm btn-danger">Remove</button>
          <button class="btn btn-sm btn-outline-warning" *ngIf="!address.isDefault"> Set Default</button>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mb-10" *ngIf="!isAddressData">
    <div class="col-sm-12 m-2">
      <div class="card p-2">
        <div class="card-body">
          <strong class="text-muted">No Data Available !</strong>
        </div>
      </div>
    </div>
  </div>

  <!-- Add New Address Button -->
  <button class="btn w-100 mt-4" [ngClass]="{ 'mb-5': isAddressData }"  style="background-color: #ffbb00; font-weight: 500;">
    Add New Address
  </button>
  <br /><br />
</div>
