<nav class="mobile-bottom-nav">
  <div class="mobile-bottom-nav__item mobile-bottom-nav__item--active">
    <a class="nav-link" routerLink="" routerLinkActive="active">
      <i class="bi bi-house-door"></i>
	  <span class="name">Home</span>
    </a>
  </div>

  <div class="mobile-bottom-nav__item">
    <a class="nav-link" routerLink="cart">
      <i class="bi bi-cart"></i>
      <span class="not mr-cart">{{itemCount}}</span>
	  <span class="name">Cart</span>
    </a>
  </div>

  <div class="mobile-bottom-nav__item">
	<a class="nav-link" routerLink="notification">
	   <i class="bi bi-bell"></i>
	   <span class="not mr-not">1</span>
	   <span class="name">Notification</span>
	</a>
  </div>


  <div class="mobile-bottom-nav__item">
    <a class="nav-link" routerLink="account">
      <i class="bi bi-person-circle"></i>
	  <span class="name">Account</span>
    </a>
  </div>
</nav>
