.mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  height: 60px;
  box-shadow: 0 -2px 5px -2px #333;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 5px 0;
}

.mobile-bottom-nav__item {
  flex-grow: 1;
  text-align: center;
  font-size: 1.5rem;  /* Responsive font size */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}


.mobile-bottom-nav__item--active a,
.mobile-bottom-nav__item a:hover {
  color: #B5760C;
}

.mobile-bottom-nav__item a {
  position: relative; /* Make the link the positioning context */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: inherit;
  text-decoration: none;
  font-size: 1.8rem;
}

.not {
  position: absolute;
  top: 8px;
  min-height: 16px;
  min-width: 16px;
  padding: 2px 5px;
  font-size: 0.75rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFC107;
  border-radius: 50%;
  color: #000;
  border: 1px solid #333;
}

.mr-cart {
  right: 0.6em;
}

.mr-not {
  right: 1em;
}

@media (max-width: 719px) {
  .name {
    display: none !important;
  }
}

/* Optional: Increase icon size slightly on tablets */
@media (min-width: 768px) {
  .mobile-bottom-nav {
    height: 70px;
  }

  .mobile-bottom-nav__item a {
    font-size: 2rem;
  }
}

/* Optional: Smaller phones */
@media (max-width: 400px) {
  .mobile-bottom-nav__item a {
    font-size: 1.5rem;
  }

  .not {
    font-size: 0.65rem;
  }
}

/* Desktop view: floating sticky bar */
@media (min-width: 720px) {
  .mobile-bottom-nav {
    width: auto;
    height: 3em; 
    left: 60%;               
    transform: translateX(-50%);
    top: 0.6em;
    background-color: #212529 !important;
    box-shadow: unset !important;
  }

  .not, .bi {
    color: #ffffff !important;
  }

  .not {
    font-size: 0.3em !important;
    min-height: 12px !important;
    min-width: 12px !important;
  }

  .mr-not {
    right: 3em !important;
  }

  .bi {
    font-size: 0.6em !important;
  }

  .name {
    font-size: 0.4em;
    color: white;
  }
}
